
body{
    margin: 0;
    font-family: monospace;
}
#background-panel{
    background-color: rgb(182, 238, 245)e;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    top: 0;
    z-index: 99;
    position: sticky;

}

#background-panel > div{
    background-color: rgb(192, 233, 250);
    /* margin: 50px; */
    border-radius: 10px;

}

#background-panel > div:hover{
    background-color: rgb(208, 246, 253);
}

#background-panel > div:active{
    background-color: rgb(155, 197, 245);
}

